/*
=============================================================================
=============================================================================
================ Eric Meyer's Browser Reset =================================
=============================================================================
=============================================================================

No need to alter anything here...
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}


/*
=============================================================================
=============================================================================
================ Eric Meyer's Browser Reset =================================
=============================================================================
=============================================================================
*/

html {
    width: 100%;
    /* height: 100%; */
    background-color: #fff;
}

body {
    width: 100%;
    height: 100%;
    padding: 2vh;
    margin: 0;
    background-color: #fff;
    color: #000;
    /* font-size: 3.12vw; */
    /* pepper */
    /* font-size: 2.5em; */
    /* yuki */
    /* font-size: 1.5em; */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3em;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    margin: 1em 0 0.5em;
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #666;
    letter-spacing: -0.03em;
    margin: 0.3em 0 0.3em;
    text-decoration: underline;
}

h2 {
    /* font-size: 1em; */
    font-size: 1.85em;
    margin: 1em 0 0.5em;
}

h3 {
    font-size: 1.69em;
}

h4 {
    font-size: 1.23em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 2vh;
}

.button {
    display: inline-block;
    cursor: pointer;
    /* padding: 0.125em 0.625em 0.1875em 0.625em; */
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
    font-weight: normal;
    min-width: 5.25em;
    /* width: auto; */
    height: 1.3em;
    background-color: #5E8143;
    border: 0;
    padding: 0 1em;
    box-sizing: border-box;
}


/* Adapted from: http://visuellegedanken.de/2012-03-13/text-in-submitbuttons-vertikal-zentrieren/ */

.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.center-standalone-button {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.large-button {
    height: 3em;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

#page-wrapper {
    height: inherit;
    margin-bottom: 1em;
    box-sizing: border-box;
}

#content-wrapper {
    height: 80vh;
}

.row {
    width: 90%;
    height: 50%;
    display: table;
    margin: auto;
    /* justify-content: space-between; */
    /* margin: 2em auto 2em auto; */
}

#top-row {
    border-bottom: 0.25em solid gray;
}

.right-col {
    border-left: 0.25em solid gray;
}

.column {
    display: table-cell;
    width: 50%;
    vertical-align: middle
    /* padding-top: 152px; */
}

.column:hover {
    cursor: pointer
}

#logo {
    position: absolute;
    top: 37.5vh;
    right: 40.5vw;
    z-index: 10;
}

.diagram {
    width: 100%;
}

.description {
    width: 50%;
    float: left;
    /* margin: auto; */
    /* text-align: center; */
}

ul li {
    margin-top: 0.5em;
}

.info {
    list-style-type: circle;
    /* list-style-position: inside; */
}

.info_2 {
    list-style-type: square;
    list-style-position: inside;
}

#text_area {
    margin: 3em 6em 2em 6em;
}

#video_area {
    padding: 3em;
}

#home-button {
    width: 6%;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

video {
    width: 100%
}